---
import { Image } from 'astro:assets'

import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import ProjectCard from '@/components/home/ProjectCard.astro'
import Section from '@/components/home/Section.astro'
import landing from '@/assets/landing.webp'

const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)

const myEvents = [
  {
    title: 'Se crea la Gobernaci贸n Militar',
    date: '3 de abril de 1982',
    datetime: '1982-04-03',
    link: '/eventos/gobernacion-militar',
    image: {
      src: '/src/assets/projects/alex-tyson-2BAXJ7ha74s-unsplash.jpg',
      alt: 'Bandera Argentina ondeando en las Malvinas.'
    }
  },
  {
    title: 'Resoluci贸n 502 de la ONU',
    date: '3 de abril de 1982',
    datetime: '1982-04-03',
    link: '/eventos/resolucion-502',
    image: {
      src: '/src/assets/projects/angelica-teran-Bk9hpaXHK4o-unsplash.jpg',
      alt: 'Edificio de las Naciones Unidas.'
    }
  },
  {
    title: 'Hundimiento del ARA General Belgrano',
    date: '2 de mayo de 1982',
    datetime: '1982-05-02',
    link: '/eventos/ara-belgrano',
    image: {
      src: '/src/assets/projects/wen-qiao-g_w8I64FiO0-unsplash.jpg',
      alt: 'El crucero ARA General Belgrano navegando.'
    }
  }
]
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB9'>
  <main class='flex w-full flex-col items-center'>
    <Image
      src={landing}
      alt='background'
      class='absolute top-0 h-full w-full object-cover'
      loading='eager'
    />
    <div class='h-86vh z-10 flex w-full justify-center'>
      <h1 class='font-balboa font-balboa text-8xl text-black'>Las Malvinas</h1>
    </div>
  </main>

  <section
    id='quote-section'
    class='relative flex flex-col items-center justify-center gap-3 overflow-visible py-7'
  >
    <q class='font-italic max-w-lg text-lg md:max-w-2xl md:text-3xl'>
      Si alguien crey贸 que la frase: 'Defender la Patria hasta perder la vida', era solo una
      declaraci贸n, esta es hora de la verdad...
    </q>
    <p class='font-600 md:w-2xl text-end'>
      Brigadier "VGM" Ernesto H. Crespo.<time datetime='1982-04'> Abril 1982 </time>
    </p>
  </section>

  <div id='timeline' class='mt-12'>
    <section class='flex flex-col gap-y-10'>
      <div class='font-balboa font-400 text-5xl font-semibold md:min-w-36'>
        <h2>LINEA DE TIEMPO</h2>
      </div>
      <div>
        <Timeline events={myEvents} />
      </div>
    </section>

    {
      allPostsByDate.length > 0 && (
        <Section title='Posts'>
          <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
            {allPostsByDate.map((p) => (
              <li class='flex flex-col gap-x-2 sm:flex-row'>
                <PostPreview post={p} />
              </li>
            ))}
          </ul>
          <Button title='More posts' class='w-fit self-end' href='/blog' style='ahead' />
        </Section>
      )
    }

    <Section title='Website List'>
      <div class='grid grid-cols-1 gap-3 sm:grid-cols-2'>
        <ProjectCard
          href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
          heading='Lorem ipsum'
          subheading='dolor sit amet, oratio ornatus explicari pro ex'
          imagePath='/src/assets/projects/alex-tyson-2BAXJ7ha74s-unsplash.jpg'
        />
        <ProjectCard
          href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
          heading='Lorem ipsum'
          subheading='dolor sit amet, oratio ornatus explicari pro ex'
          imagePath='/src/assets/projects/angelica-teran-Bk9hpaXHK4o-unsplash.jpg'
        />
        <ProjectCard
          href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
          heading='Lorem ipsum'
          subheading='dolor sit amet, oratio ornatus explicari pro ex'
          imagePath='/src/assets/projects/kseniia-zapiatkina-yATU3rg8tNI-unsplash.jpg'
        />
        <ProjectCard
          href='/projects'
          heading='More projects'
          subheading='Check out more projects'
          imagePath='/src/assets/projects/wen-qiao-g_w8I64FiO0-unsplash.jpg'
        />
      </div>
    </Section>
  </div>

  <style>
    #quote-section::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100vw;
      background-color: hsl(var(--muted));
      z-index: -1;
    }
  </style>
</PageLayout>
